<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div id="slider-carousel" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#slider-carousel" data-slide-to="1" class=""></li>
            <li data-target="#slider-carousel" data-slide-to="2" class=""></li>
          </ol>
          <div class="carousel-inner">
            <div class="item active">
              <div class="col-sm-6">
                <h1><span>E</span>-SHOPPER</h1>
                <h2>Free E-Commerce Template</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <button type="button" class="btn btn-default get">Get it now</button>
              </div>
              <div class="col-sm-6"><img src="../../assets/images/girl1.jpg" class="girl img-responsive" alt="website template image"><img src="../../assets/images/pricing.png" class="pricing" alt="website template image"></div>
            </div>
            <div class="item">
              <div class="col-sm-6">
                <h1><span>E</span>-SHOPPER</h1>
                <h2>100% Responsive Design</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <button type="button" class="btn btn-default get">Get it now</button>
              </div>
              <div class="col-sm-6"><img src="../../assets/images/girl2.jpg" class="girl img-responsive" alt="website template image"><img src="../../assets/images/pricing.png" class="pricing" alt="website template image"></div>
            </div>
            <div class="item">
              <div class="col-sm-6">
                <h1><span>E</span>-SHOPPER</h1>
                <h2>Free Ecommerce Template</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <button type="button" class="btn btn-default get">Get it now</button>
              </div>
              <div class="col-sm-6"><img src="../../assets/images/girl3.jpg" class="girl img-responsive" alt="website template image"><img src="../../assets/images/pricing.png" class="pricing" alt="website template image"></div>
            </div>
          </div>
          <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev"><i class="fa fa-angle-left"></i></a> <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next"><i class="fa fa-angle-right"></i></a></div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <div class="left-sidebar">
          <h2>Category</h2>
          <div class="panel-group category-products" id="accordian">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordian" href="#sportswear"><span class="badge pull-right"><i class="fa fa-plus"></i></span> Sportswear</a></h4>
              </div>
              <div id="sportswear" class="panel-collapse collapse">
                <div class="panel-body">
                  <ul>
                    <li><a href="https://www.free-css.com/free-css-templates">Nike</a></li>
                    <li><a href="https://www.free-css.com/free-css-templates">Under Armour</a></li>
                    <li><a href="https://www.free-css.com/free-css-templates">Adidas</a></li>
                    <li><a href="https://www.free-css.com/free-css-templates">Puma</a></li>
                    <li><a href="https://www.free-css.com/free-css-templates">ASICS</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordian" href="#mens"><span class="badge pull-right"><i class="fa fa-plus"></i></span> Mens</a></h4>
              </div>
              <div id="mens" class="panel-collapse collapse">
                <div class="panel-body">
                  <ul>
                    <li><a href="https://www.free-css.com/free-css-templates">Fendi</a></li>
                    <li><a href="https://www.free-css.com/free-css-templates">Guess</a></li>
                    <li><a href="https://www.free-css.com/free-css-templates">Valentino</a></li>
                    <li><a href="https://www.free-css.com/free-css-templates">Dior</a></li>
                    <li><a href="https://www.free-css.com/free-css-templates">Versace</a></li>
                    <li><a href="https://www.free-css.com/free-css-templates">Armani</a></li>
                    <li><a href="https://www.free-css.com/free-css-templates">Prada</a></li>
                    <li><a href="https://www.free-css.com/free-css-templates">Dolce and Gabbana</a></li>
                    <li><a href="https://www.free-css.com/free-css-templates">Chanel</a></li>
                    <li><a href="https://www.free-css.com/free-css-templates">Gucci</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordian" href="#womens"><span class="badge pull-right"><i class="fa fa-plus"></i></span> Womens</a></h4>
              </div>
              <div id="womens" class="panel-collapse collapse">
                <div class="panel-body">
                  <ul>
                    <li><a href="https://www.free-css.com/free-css-templates">Fendi</a></li>
                    <li><a href="https://www.free-css.com/free-css-templates">Guess</a></li>
                    <li><a href="https://www.free-css.com/free-css-templates">Valentino</a></li>
                    <li><a href="https://www.free-css.com/free-css-templates">Dior</a></li>
                    <li><a href="https://www.free-css.com/free-css-templates">Versace</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title"><a href="https://www.free-css.com/free-css-templates">Kids</a></h4>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title"><a href="https://www.free-css.com/free-css-templates">Fashion</a></h4>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title"><a href="https://www.free-css.com/free-css-templates">Households</a></h4>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title"><a href="https://www.free-css.com/free-css-templates">Interiors</a></h4>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title"><a href="https://www.free-css.com/free-css-templates">Clothing</a></h4>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title"><a href="https://www.free-css.com/free-css-templates">Bags</a></h4>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title"><a href="https://www.free-css.com/free-css-templates">Shoes</a></h4>
              </div>
            </div>
          </div>
          <div class="brands_products">
            <h2>Brands</h2>
            <div class="brands-name">
              <ul class="nav nav-pills nav-stacked">
                <li><a href="https://www.free-css.com/free-css-templates"><span class="pull-right">(50)</span>Acne</a></li>
                <li><a href="https://www.free-css.com/free-css-templates"><span class="pull-right">(56)</span>Grüne Erde</a></li>
                <li><a href="https://www.free-css.com/free-css-templates"><span class="pull-right">(27)</span>Albiro</a></li>
                <li><a href="https://www.free-css.com/free-css-templates"><span class="pull-right">(32)</span>Ronhill</a></li>
                <li><a href="https://www.free-css.com/free-css-templates"><span class="pull-right">(5)</span>Oddmolly</a></li>
                <li><a href="https://www.free-css.com/free-css-templates"><span class="pull-right">(9)</span>Boudestijn</a></li>
                <li><a href="https://www.free-css.com/free-css-templates"><span class="pull-right">(4)</span>Rösch creative culture</a></li>
              </ul>
            </div>
          </div>
          <div class="price-range">
            <h2>Price Range</h2>
            <div class="well text-center">
              <div class="slider slider-horizontal" style="width: 169px;"><div class="slider-track"><div class="slider-selection" style="left: 41.6667%; width: 33.3333%;"></div><div class="slider-handle round left-round" style="left: 41.6667%;"></div><div class="slider-handle round" style="left: 75%;"></div></div><div class="tooltip top" style="top: -29px; left: 66.0833px;"><div class="tooltip-arrow"></div><div class="tooltip-inner">250 : 450</div></div><input type="text" class="span2" value="" data-slider-min="0" data-slider-max="600" data-slider-step="5" data-slider-value="[250,450]" id="sl2" style=""></div>
              <br>
              <b class="pull-left">$ 0</b> <b class="pull-right">$ 600</b></div>
          </div>
          <div class="shipping text-center"><img src="../../assets/images/shipping.jpg" alt="website template image"></div>
        </div>
      </div>
      <div class="col-sm-9 padding-right">
        <div class="features_items">
          <h2 class="title text-center">Features Items</h2>
          <div class="col-sm-4">
            <div class="product-image-wrapper">
              <div class="single-products">
                <div class="productinfo text-center"><img src="../../assets/images/product1.jpg" alt="website template image">
                  <h2>$56</h2>
                  <p>Easy Polo Black Edition</p>
                  <a href="https://www.free-css.com/free-css-templates" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a></div>
                <div class="product-overlay">
                  <div class="overlay-content">
                    <h2>$56</h2>
                    <p>Easy Polo Black Edition</p>
                    <a href="https://www.free-css.com/free-css-templates" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a></div>
                </div>
              </div>
              <div class="choose">
                <ul class="nav nav-pills nav-justified">
                  <li><a href="https://www.free-css.com/free-css-templates"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
                  <li><a href="https://www.free-css.com/free-css-templates"><i class="fa fa-plus-square"></i>Add to compare</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="product-image-wrapper">
              <div class="single-products">
                <div class="productinfo text-center"><img src="../../assets/images/product2.jpg" alt="website template image">
                  <h2>$56</h2>
                  <p>Easy Polo Black Edition</p>
                  <a href="https://www.free-css.com/free-css-templates" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a></div>
                <div class="product-overlay">
                  <div class="overlay-content">
                    <h2>$56</h2>
                    <p>Easy Polo Black Edition</p>
                    <a href="https://www.free-css.com/free-css-templates" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a></div>
                </div>
              </div>
              <div class="choose">
                <ul class="nav nav-pills nav-justified">
                  <li><a href="https://www.free-css.com/free-css-templates"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
                  <li><a href="https://www.free-css.com/free-css-templates"><i class="fa fa-plus-square"></i>Add to compare</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="product-image-wrapper">
              <div class="single-products">
                <div class="productinfo text-center"><img src="../../assets/images/product3.jpg" alt="website template image">
                  <h2>$56</h2>
                  <p>Easy Polo Black Edition</p>
                  <a href="https://www.free-css.com/free-css-templates" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a></div>
                <div class="product-overlay">
                  <div class="overlay-content">
                    <h2>$56</h2>
                    <p>Easy Polo Black Edition</p>
                    <a href="https://www.free-css.com/free-css-templates" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a></div>
                </div>
              </div>
              <div class="choose">
                <ul class="nav nav-pills nav-justified">
                  <li><a href="https://www.free-css.com/free-css-templates"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
                  <li><a href="https://www.free-css.com/free-css-templates"><i class="fa fa-plus-square"></i>Add to compare</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="product-image-wrapper">
              <div class="single-products">
                <div class="productinfo text-center"><img src="../../assets/images/product4.jpg" alt="website template image">
                  <h2>$56</h2>
                  <p>Easy Polo Black Edition</p>
                  <a href="https://www.free-css.com/free-css-templates" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a></div>
                <div class="product-overlay">
                  <div class="overlay-content">
                    <h2>$56</h2>
                    <p>Easy Polo Black Edition</p>
                    <a href="https://www.free-css.com/free-css-templates" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a></div>
                </div>
                <img src="../../assets/images/new.png" class="new" alt="website template image"></div>
              <div class="choose">
                <ul class="nav nav-pills nav-justified">
                  <li><a href="https://www.free-css.com/free-css-templates"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
                  <li><a href="https://www.free-css.com/free-css-templates"><i class="fa fa-plus-square"></i>Add to compare</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="product-image-wrapper">
              <div class="single-products">
                <div class="productinfo text-center"><img src="../../assets/images/product5.jpg" alt="website template image">
                  <h2>$56</h2>
                  <p>Easy Polo Black Edition</p>
                  <a href="https://www.free-css.com/free-css-templates" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a></div>
                <div class="product-overlay">
                  <div class="overlay-content">
                    <h2>$56</h2>
                    <p>Easy Polo Black Edition</p>
                    <a href="https://www.free-css.com/free-css-templates" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a></div>
                </div>
                <img src="../../assets/images/sale.png" class="new" alt="website template image"></div>
              <div class="choose">
                <ul class="nav nav-pills nav-justified">
                  <li><a href="https://www.free-css.com/free-css-templates"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
                  <li><a href="https://www.free-css.com/free-css-templates"><i class="fa fa-plus-square"></i>Add to compare</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="product-image-wrapper">
              <div class="single-products">
                <div class="productinfo text-center"><img src="../../assets/images/product6.jpg" alt="website template image">
                  <h2>$56</h2>
                  <p>Easy Polo Black Edition</p>
                  <a href="https://www.free-css.com/free-css-templates" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a></div>
                <div class="product-overlay">
                  <div class="overlay-content">
                    <h2>$56</h2>
                    <p>Easy Polo Black Edition</p>
                    <a href="https://www.free-css.com/free-css-templates" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a></div>
                </div>
              </div>
              <div class="choose">
                <ul class="nav nav-pills nav-justified">
                  <li><a href="https://www.free-css.com/free-css-templates"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
                  <li><a href="https://www.free-css.com/free-css-templates"><i class="fa fa-plus-square"></i>Add to compare</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="category-tab">
          <div class="col-sm-12">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#tshirt" data-toggle="tab">T-Shirt</a></li>
              <li><a href="#blazers" data-toggle="tab">Blazers</a></li>
              <li><a href="#sunglass" data-toggle="tab">Sunglass</a></li>
              <li><a href="#kids" data-toggle="tab">Kids</a></li>
              <li><a href="#poloshirt" data-toggle="tab">Polo shirt</a></li>
            </ul>
          </div>
          <div class="tab-content">
            <div class="tab-pane fade active in" id="tshirt">
              <div class="col-sm-3">
                <div class="product-image-wrapper">
                  <div class="single-products">
                    <div class="productinfo text-center"><img src="../../assets/images/gallery1.jpg" alt="website template image">
                      <h2>$56</h2>
                      <p>Easy Polo Black Edition</p>
                      <a href="https://www.free-css.com/free-css-templates" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a></div>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="product-image-wrapper">
                  <div class="single-products">
                    <div class="productinfo text-center"><img src="../../assets/images/gallery2.jpg" alt="website template image">
                      <h2>$56</h2>
                      <p>Easy Polo Black Edition</p>
                      <a href="https://www.free-css.com/free-css-templates" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a></div>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="product-image-wrapper">
                  <div class="single-products">
                    <div class="productinfo text-center"><img src="../../assets/images/gallery3.jpg" alt="website template image">
                      <h2>$56</h2>
                      <p>Easy Polo Black Edition</p>
                      <a href="https://www.free-css.com/free-css-templates" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a></div>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="product-image-wrapper">
                  <div class="single-products">
                    <div class="productinfo text-center"><img src="../../assets/images/gallery4.jpg" alt="website template image">
                      <h2>$56</h2>
                      <p>Easy Polo Black Edition</p>
                      <a href="https://www.free-css.com/free-css-templates" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="blazers">
              <div class="col-sm-3">
                <div class="product-image-wrapper">
                  <div class="single-products">
                    <div class="productinfo text-center"><img src="../../assets/images/gallery4.jpg" alt="website template image">
                      <h2>$56</h2>
                      <p>Easy Polo Black Edition</p>
                      <a href="https://www.free-css.com/free-css-templates" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a></div>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="product-image-wrapper">
                  <div class="single-products">
                    <div class="productinfo text-center"><img src="../../assets/images/gallery3.jpg" alt="website template image">
                      <h2>$56</h2>
                      <p>Easy Polo Black Edition</p>
                      <a href="https://www.free-css.com/free-css-templates" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a></div>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="product-image-wrapper">
                  <div class="single-products">
                    <div class="productinfo text-center"><img src="../../assets/images/gallery2.jpg" alt="website template image">
                      <h2>$56</h2>
                      <p>Easy Polo Black Edition</p>
                      <a href="https://www.free-css.com/free-css-templates" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a></div>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="product-image-wrapper">
                  <div class="single-products">
                    <div class="productinfo text-center"><img src="../../assets/images/gallery1.jpg" alt="website template image">
                      <h2>$56</h2>
                      <p>Easy Polo Black Edition</p>
                      <a href="https://www.free-css.com/free-css-templates" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="sunglass">
              <div class="col-sm-3">
                <div class="product-image-wrapper">
                  <div class="single-products">
                    <div class="productinfo text-center"><img src="../../assets/images/gallery3.jpg" alt="website template image">
                      <h2>$56</h2>
                      <p>Easy Polo Black Edition</p>
                      <a href="https://www.free-css.com/free-css-templates" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a></div>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="product-image-wrapper">
                  <div class="single-products">
                    <div class="productinfo text-center"><img src="../../assets/images/gallery4.jpg" alt="website template image">
                      <h2>$56</h2>
                      <p>Easy Polo Black Edition</p>
                      <a href="https://www.free-css.com/free-css-templates" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a></div>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="product-image-wrapper">
                  <div class="single-products">
                    <div class="productinfo text-center"><img src="../../assets/images/gallery1.jpg" alt="website template image">
                      <h2>$56</h2>
                      <p>Easy Polo Black Edition</p>
                      <a href="https://www.free-css.com/free-css-templates" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a></div>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="product-image-wrapper">
                  <div class="single-products">
                    <div class="productinfo text-center"><img src="../../assets/images/gallery2.jpg" alt="website template image">
                      <h2>$56</h2>
                      <p>Easy Polo Black Edition</p>
                      <a href="https://www.free-css.com/free-css-templates" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="kids">
              <div class="col-sm-3">
                <div class="product-image-wrapper">
                  <div class="single-products">
                    <div class="productinfo text-center"><img src="../../assets/images/gallery1.jpg" alt="website template image">
                      <h2>$56</h2>
                      <p>Easy Polo Black Edition</p>
                      <a href="https://www.free-css.com/free-css-templates" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a></div>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="product-image-wrapper">
                  <div class="single-products">
                    <div class="productinfo text-center"><img src="../../assets/images/gallery2.jpg" alt="website template image">
                      <h2>$56</h2>
                      <p>Easy Polo Black Edition</p>
                      <a href="https://www.free-css.com/free-css-templates" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a></div>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="product-image-wrapper">
                  <div class="single-products">
                    <div class="productinfo text-center"><img src="../../assets/images/gallery3.jpg" alt="website template image">
                      <h2>$56</h2>
                      <p>Easy Polo Black Edition</p>
                      <a href="https://www.free-css.com/free-css-templates" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a></div>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="product-image-wrapper">
                  <div class="single-products">
                    <div class="productinfo text-center"><img src="../../assets/images/gallery4.jpg" alt="website template image">
                      <h2>$56</h2>
                      <p>Easy Polo Black Edition</p>
                      <a href="https://www.free-css.com/free-css-templates" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="poloshirt">
              <div class="col-sm-3">
                <div class="product-image-wrapper">
                  <div class="single-products">
                    <div class="productinfo text-center"><img src="../../assets/images/gallery2.jpg" alt="website template image">
                      <h2>$56</h2>
                      <p>Easy Polo Black Edition</p>
                      <a href="https://www.free-css.com/free-css-templates" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a></div>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="product-image-wrapper">
                  <div class="single-products">
                    <div class="productinfo text-center"><img src="../../assets/images/gallery4.jpg" alt="website template image">
                      <h2>$56</h2>
                      <p>Easy Polo Black Edition</p>
                      <a href="https://www.free-css.com/free-css-templates" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a></div>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="product-image-wrapper">
                  <div class="single-products">
                    <div class="productinfo text-center"><img src="../../assets/images/gallery3.jpg" alt="website template image">
                      <h2>$56</h2>
                      <p>Easy Polo Black Edition</p>
                      <a href="https://www.free-css.com/free-css-templates" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a></div>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="product-image-wrapper">
                  <div class="single-products">
                    <div class="productinfo text-center"><img src="../../assets/images/gallery1.jpg" alt="website template image">
                      <h2>$56</h2>
                      <p>Easy Polo Black Edition</p>
                      <a href="https://www.free-css.com/free-css-templates" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="recommended_items">
          <h2 class="title text-center">recommended items</h2>
          <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="item">
                <div class="col-sm-4">
                  <div class="product-image-wrapper">
                    <div class="single-products">
                      <div class="productinfo text-center"><img src="../../assets/images/recommend1.jpg" alt="website template image">
                        <h2>$56</h2>
                        <p>Easy Polo Black Edition</p>
                        <a href="https://www.free-css.com/free-css-templates" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a></div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="product-image-wrapper">
                    <div class="single-products">
                      <div class="productinfo text-center"><img src="../../assets/images/recommend2.jpg" alt="website template image">
                        <h2>$56</h2>
                        <p>Easy Polo Black Edition</p>
                        <a href="https://www.free-css.com/free-css-templates" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a></div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="product-image-wrapper">
                    <div class="single-products">
                      <div class="productinfo text-center"><img src="../../assets/images/recommend3.jpg" alt="website template image">
                        <h2>$56</h2>
                        <p>Easy Polo Black Edition</p>
                        <a href="https://www.free-css.com/free-css-templates" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item active">
                <div class="col-sm-4">
                  <div class="product-image-wrapper">
                    <div class="single-products">
                      <div class="productinfo text-center"><img src="../../assets/images/recommend1.jpg" alt="website template image">
                        <h2>$56</h2>
                        <p>Easy Polo Black Edition</p>
                        <a href="https://www.free-css.com/free-css-templates" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a></div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="product-image-wrapper">
                    <div class="single-products">
                      <div class="productinfo text-center"><img src="../../assets/images/recommend2.jpg" alt="website template image">
                        <h2>$56</h2>
                        <p>Easy Polo Black Edition</p>
                        <a href="https://www.free-css.com/free-css-templates" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a></div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="product-image-wrapper">
                    <div class="single-products">
                      <div class="productinfo text-center"><img src="../../assets/images/recommend3.jpg" alt="website template image">
                        <h2>$56</h2>
                        <p>Easy Polo Black Edition</p>
                        <a href="https://www.free-css.com/free-css-templates" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev"><i class="fa fa-angle-left"></i></a> <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next"><i class="fa fa-angle-right"></i></a></div>
        </div>
      </div>
    </div>
  </div>
</section> 


 
 {{!-- <!--banner strip start here-->
<script src="../../assets/js/responsiveslides.min.js"></script>
<script>
    $(function () {
        $("#slider").responsiveSlides({
            auto: true,
            speed: 500,
            namespace: "callbacks",
            pager: false,
            nav: true,
        });
    });
</script>
<style>
    img {
        max-width: 100%
    }
</style>
<div class="banner">
    <div class="container">
        <div class="banner-main">
            <ul class="rslides" id="slider">
                <li>
                    <h3>Product 1</h3>

                    <p>Price 1</p>
                    <div class="bann-btn">

                        <a href="#" class="hvr-shutter-out-horizontal">Bid closes in <span id="time1" data-delay="40"></span> minutes!</a>
                    </div>
                </li>
                <li>
                    <h3>Product 2</h3>

                    <p>Price 2</p>
                    <div class="bann-btn">
                        <a href="#" class="hvr-shutter-out-horizontal">Bid closes in <span id="time2" data-delay="40"></span> minutes!</a>
                    </div>
                </li>
                <li>
                    <h3>Product 3</h3>

                    <p>Price 3</p>
                    <div class="bann-btn">
                        <a href="#" class="hvr-shutter-out-horizontal">Bid closes in <span id="time3" data-delay="10"></span> minutes!</a>
                    </div>
                </li>
                <li>
                    <h3>Product 4</h3>

                    <p>Price 4</p>
                    <div class="bann-btn">
                        <a href="#" class="hvr-shutter-out-horizontal">Bid closes in <span id="time4" data-delay="30"></span> minutes!</a>
                    </div>
                </li>
                <li>
                    <h3>Product 5</h3>

                    <p>Price 5</p>
                    <div class="bann-btn">
                        <a href="#" class="hvr-shutter-out-horizontal">Bid closes in <span id="time5" data-delay="20"></span> minutes!</a>
                    </div>
                </li>
                <li>
                    <h3>Product 6</h3>

                    <p>Price 6</p>
                    <div class="bann-btn">
                        <a href="#" class="hvr-shutter-out-horizontal">Bid closes in <span id="time6" data-delay="20"></span> minutes!</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--banner strip end here-->
<!--services start here-->
<div id="ending" class="services">
    <div class="container">
        <div class="services-main">
            <div class="services-top">
                <h3>S&#x1EAF;p K&#x1EBF;t Th&#xFA;c</h3>
                <!--<p>Great design is about more than style,it,s about being yoursel</p>-->
            </div>
            <div class="services-bottom">
                <div class="row">
                    <div class="col-md-6 col-lg-4 ser">
                        <div class="thumbnail">
                            <a href="single.html"><img src="../../assets/images/g2.jpg" alt=""></a>
                            <div class="caption">
                                <a href="single.html"> <h3>Accusantium doloremque</h3></a>
                                <p>
                                    <div>Bid closes in <span class="time1" data-delay="2"></span> minutes!</div>
                                </p>
                                <p>
                                    price : 5k
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 ser">
                        <div class="thumbnail">
                            <a href="single.html"><img src="../../assets/images/g3.jpg" alt=""></a>
                            <div class="caption">
                                <a href="single.html"> <h3>Accusantium doloremque</h3></a>
                                <p>
                                    <div>Bid closes in <span class="time2" data-delay="3"></span> minutes!</div>
                                </p>
                                <p>
                                    price : 5k
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 ser">
                        <div class="thumbnail">
                            <a href="single.html"><img src="../../assets/images/g4.jpg" alt=""></a>
                            <div class="caption">
                                <a href="single.html"><h3>Thumbnail label</h3></a>
                                <p>
                                    <div>Bid closes in <span class="time3" data-delay="4"></span> minutes!</div>
                                </p>
                                <p>
                                    price : 5k
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-4 ser">
                        <div class="thumbnail">
                            <a href="single.html"><img src="../../assets/images/g5.jpg" alt=""></a>
                            <div class="caption">
                                <a href="single.html"><h3>Lorem ipsum dolor</h3></a>
                                <p>
                                    <div>Bid closes in <span class="time4" data-delay="3"></span> minutes!</div>
                                </p>
                                <p>
                                    price : 5k
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 ser">
                        <div class="thumbnail">
                            <a href="single.html"> <img src="../../assets/images/g6.jpg" alt=""></a>
                            <div class="caption">
                                <a href="single.html"> <h3>Established fact</h3></a>
                                <p>
                                    <div>Bid closes in <span class="time5" data-delay="2"></span> minutes!</div>
                                </p>
                                <p>
                                    price : 5k
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 ser">
                        <div class="thumbnail">
                            <a href="single.html"><img src="../../assets/images/g7.jpg" alt=""></a>
                            <div class="caption">
                                <a href="single.html"><h3>Neque porro quisquam</h3></a>
                                <p>
                                    <div>Bid closes in <span class="time6" data-delay="1"></span> minutes!</div>
                                </p>
                                <p>
                                    price : 5k
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--services end here-->
<!--services start here-->
<div id="mostBid"class="services">
    <div class="container">
        <div class="services-main">
            <div class="services-top">
                <h3>C&#xF3; Nhi&#x1EC1;u L&#x1B0;&#x1EE3;t Ra Gi&#xE1; Nh&#x1EA5;t</h3>
                <!--<p>Great design is about more than style,it,s about being yoursel</p>-->
            </div>
            <div class="services-bottom">
                <div class="row">
                    <div class="col-md-6 col-lg-4 ser">
                        <div class="thumbnail">
                            <a href="single.html"><img src="../../assets/images/g2.jpg" alt=""></a>
                            <div class="caption">
                                <a href="single.html"> <h3>Accusantium doloremque</h3></a>
                                <p>
                                    <div>Bid closes in <span class="time1" data-delay="2"></span> minutes!</div>
                                </p>
                                <p>
                                    price : 5k
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 ser">
                        <div class="thumbnail">
                            <a href="single.html"><img src="../../assets/images/g3.jpg" alt=""></a>
                            <div class="caption">
                                <a href="single.html"> <h3>Accusantium doloremque</h3></a>
                                <p>
                                    <div>Bid closes in <span class="time2" data-delay="3"></span> minutes!</div>
                                </p>
                                <p>
                                    price : 5k
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 ser">
                        <div class="thumbnail">
                            <a href="single.html"><img src="../../assets/images/g4.jpg" alt=""></a>
                            <div class="caption">
                                <a href="single.html"><h3>Thumbnail label</h3></a>
                                <p>
                                    <div>Bid closes in <span class="time3" data-delay="4"></span> minutes!</div>
                                </p>
                                <p>
                                    price : 5k
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-4 ser">
                        <div class="thumbnail">
                            <a href="single.html"><img src="../../assets/images/g5.jpg" alt=""></a>
                            <div class="caption">
                                <a href="single.html"><h3>Lorem ipsum dolor</h3></a>
                                <p>
                                    <div>Bid closes in <span class="time4" data-delay="3"></span> minutes!</div>
                                </p>
                                <p>
                                    price : 5k
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 ser">
                        <div class="thumbnail">
                            <a href="single.html"> <img src="../../assets/images/g6.jpg" alt=""></a>
                            <div class="caption">
                                <a href="single.html"> <h3>Established fact</h3></a>
                                <p>
                                    <div>Bid closes in <span class="time5" data-delay="2"></span> minutes!</div>
                                </p>
                                <p>
                                    price : 5k
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 ser">
                        <div class="thumbnail">
                            <a href="single.html"><img src="../../assets/images/g7.jpg" alt=""></a>
                            <div class="caption">
                                <a href="single.html"><h3>Neque porro quisquam</h3></a>
                                <p>
                                    <div>Bid closes in <span class="time6" data-delay="1"></span> minutes!</div>
                                </p>
                                <p>
                                    price : 5k
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--services end here-->
<script type="text/javascript" src="../../assets/js/countdown.js"></script> --}}

