<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link rel="stylesheet"  type="text/css" href="../../../assets/css/bootstrap.min.css"/>
</head>

<body>
    <div class="container">
        <div class="row py-2">
            <div class="col-md">
                {{>header}}
            </div>
        </div>
        <div class="row py-2">
            {{{body}}}
        </div>
        <div class="row py2">
            <div class="col-md">
                {{>bottom }}
            </div>
        </div>
    </div>
</body>

</html>