
<div class="kt-content kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">

    <!-- begin:: Subheader -->
    <div class="kt-subheader kt-grid__item" id="kt_subheader">
        <div class="kt-container kt-container--fluid ">
            <div class="kt-subheader__main">
                <h3 class="kt-subheader__title">AccountManagement</h3>

                <span class="kt-subheader__separator kt-subheader__separator--v"></span>

                <span class="total-items kt-subheader__desc">Summary: <span id="total"></span></span>

                <form class="kt-margin-l-20" id="kt_subheader_search_form">
                    <div class="kt-input-icon kt-input-icon--right kt-subheader__search">
                        <input type="text" class="form-control" placeholder="Search..."
                               id="search">
                        <span class="kt-input-icon__icon kt-input-icon__icon--right">
                            <span><i class="fas fa-search"></i></span>
                        </span>
                    </div>
                </form>
            </div>
            <div class="kt-subheader__toolbar">
                <button class="btn btn-primary" onclick="updateRole()">
                    <a> <i class="fas fa-wrench"></i>Up/Down</a>
                </button>
            </div>
        </div>
    </div>

    <!-- end:: Subheader -->
    <!-- begin:: Content -->
    <div class="kt-container kt-container--fluid kt-grid__item kt-grid__item--fluid">
        <div class="kt-container kt-container--fluid kt-grid__item kt-grid__item--fluid">
            <div class="kt-portlet kt-portlet--mobile">
                <div class="kt-datatable"></div>
            </div>
        </div>
    </div>
    <!-- end:: Content -->
</div>
<script>
    var datatable;
    var dataSet = [];

    $(document).ready(function () {
         $('ul li a').click(function () {
                $('#clickActive ul li a').click(function () {
                    $('ul li').removeClass('kt-menu__item--open kt-menu__item--here');
                    $(this).addClass('kt-menu__item--bottom');
                    $(this).parent().removeClass("kt-menu__item--bottom");
                    $(this).parent().addClass('actkt-menu__item--open kt-menu__item--here');
                });
            });

        var options = {
            // datasource definition
            data: {
                type: 'remote',
                source: {
                    read: {
                        url: '/admin/getAllUser',
                        method: 'GET',
                        map: function (raw) {
                            dataSet = raw;
                            if (typeof raw.meta !== 'undefined') {
                                $('#total').html(raw.meta.total);
                            }
                            if (typeof raw.data !== 'undefined') {
                                dataSet = raw.data;
                            }
                            return dataSet;
                        },
                    },
                },
                pageSize: 10,
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true,
            },
            // layout definition
            layout: {
                scroll: true,
                height: 600,
            },
            // column sorting
            sortable: true,
            pagination: true,
            search: {
                input: $('#search'),
            },
            // columns definition
            columns: [{
                field: 'id',
                title: '#',
                width: 20,
                type: 'number',
                selector: {
                    class: 'kt-checkbox--solid'
                },
                textAlign: 'center',
            }, {
                field: 'username',
                title: 'User Name',
                template: function (data) {

                    return '<div class="kt-user-card-v2">' +
                        '<div class="kt-user-card-v2__pic">' +
                        '<div class="kt-badge kt-badge--xl bg-main">' +
                        (data['username'] ? data['username'].substring(0, 1) : '') +
                        '</div>' +
                        '</div>' +
                        '<div class="kt-user-card-v2__details">' +
                        '<span class="kt-user-card-v2__name">' + data['username'] + '</span>' +
                        '</div>' +
                        '</div>';
                }
            }, {
                field: 'email',
                title: 'Email',
                textAlign: 'center',
            }, {
                field: 'phone',
                title: 'Phone number',
                textAlign: 'center',
            }, {
                field: 'DOB',
                title: 'DateOfBirth',
                textAlign: 'center',
                template: function (data) {
                    return moment(data['birthday']).format('YYYY-MM-DD');
                }
            }, {
                field: 'id_role',
                title: 'Role',
                textAlign: 'center',
                template: function (data) {
                    if (data['id_role'] == 2) {
                        return '<div class="StatusActiveBusowner" value="' + data['id_role'] + '">' + 'bidder' + '</div>'
                    }
                    else {
                        return '<div class="StatusActiveBusowner" value="' + data['id_role'] + '">' + 'seller' + '</div>'
                    }
                }
            }, {
                field: 'wantToUpdate',
                title: 'Upgrade',
                textAlign: 'center',
                template: function (data) {

                    if (data['wantToUpdate'] == 1) {
                        return '<div class="kt-badge kt-badge--brand kt-badge--inline kt-badge--pill"  value="' + data['wantToUpdate'] + '">' + 'Waiting' + '</div>'
                    }
                    else {
                        return '<div class="" value="' + data['id_role'] + '">' + '' + '</div>'
                    }
                }
            }

            ]
        };

        datatable = $('.kt-datatable').KTDatatable(options);
        datatable.on('kt-datatable--on-reloaded', function () {
            setRowClickEvent();
        });

        datatable.reload();
    });


    function updateRole() {
        let chkCheckeds = datatable.find('input[type=checkbox]:checked');
        if (chkCheckeds.length) {
            if (!confirm('B?n ch?c ch?n mu?n m?/khóa tài kho?n này?')) {
                return;
            }
        }
        var arr = '';
        chkCheckeds.each(function () {
            //var index = -1;
            let id = $(this).val();
            //for (var i = 0; i < dataSet.length; i++) {
            //    alert(dataSet[i].Id_acc);
            //    if (dataSet[i].Id_acc === id) {
            //        index = i;
            //        break;
            //    }
            //}
            //if (dataSet[index].StatusActive === 1) {
            //    dataSet[index].StatusActive = 0;
            //} else {
            //    dataSet[id].StatusActive = 1;
            //}
            arr = arr + id + '-';
        });
        if (arr != '') {
            $.ajax({
                type: 'POST',
                url: '/admin/updateRole',
                data:
                {
                    data: method(arr)
                },
                dataType: "json",
                success: function (result) {
                    console.log(result);
                    if (result == "successfull") {
                        datatable.reload();
                    }
                    else {
                        alert("please choose items having the require");
                    }
                },
                error: function (err) {

                }
            })
        }

        //session.setData('dataSet', JSON.stringify(dataSet));
        //location.reload();
    }

    function setRowClickEvent() {
        //datatable.on('click', 'td', function () {
        //    if ($(this).find('input[type=checkbox]').length ||
        //        $(this).find('.kt-datatable__toggle-detail').length) {
        //        return;
        //    }

        //    var id = $(this).parent().find('input[type=checkbox]').val();
        //    if (id) {
        //        //session.setData('Id_acc', id);
        //        location.href = `/user/${id}/detail`;
        //    }
        //});
    }

</script>
