
<div class="kt-content kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
    <div class="kt-container kt-container--fluid kt-grid__item kt-grid__item--fluid">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body">
                <div class="row">
                    <div class="col-xl-12">
                        <h1 style="text-align: center;">
                            Chào mừng đến trang quản trị của Auction
                        </h1>
                        <h3 style="text-align: center;">
                        </h3>
                    </div>
                    <div class="col-xl-2" style="text-align: center;">
                       
                    </div>
                    <div class="col-xl-8" style="text-align: center;">
                        <img class="img-fluid"
                             src="https://www.milduraweekly.com.au/wp-content/uploads/2018/03/Charity-Auction-Website-header.png" />
                    </div>
                    <div class="col-xl-2" style="text-align: center;">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>