

<div class="kt-content kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">

    <!-- begin:: Subheader -->
    <div class="kt-subheader kt-grid__item" id="kt_subheader">
        <div class="kt-container kt-container--fluid ">
            <div class="kt-subheader__main">
                <h3 class="kt-subheader__title">ProductManagement</h3>

                <span class="kt-subheader__separator kt-subheader__separator--v"></span>

                <span class="total-items kt-subheader__desc">Tong: <span id="total"></span></span>

                <form class="kt-margin-l-20" id="kt_subheader_search_form">
                    <div class="kt-input-icon kt-input-icon--right kt-subheader__search">
                        <input type="text" class="form-control" placeholder="Search..."
                               id="search">
                        <span class="kt-input-icon__icon kt-input-icon__icon--right">
                            <span><i class="fas fa-search"></i></span>
                        </span>
                    </div>
                </form>
            </div>
            <div class="kt-subheader__toolbar">
                <button class="btn btn-primary" onclick="DelProduct()">
                    <a> <i class="far fa-trash-alt"></i>Delete</a>
                </button>
            </div>
        </div>
    </div>

    <!-- end:: Subheader -->
    <!-- begin:: Content -->
    <div class="kt-container kt-container--fluid kt-grid__item kt-grid__item--fluid">
        <div class="kt-container kt-container--fluid kt-grid__item kt-grid__item--fluid">
            <div class="kt-portlet kt-portlet--mobile">
                <div class="kt-datatable"></div>
            </div>
        </div>
    </div>
    <!-- end:: Content -->
</div>
<script>
    var datatable;
    var dataSet = [];

    $(document).ready(function () {


        var options = {
            // datasource definition
            data: {
                type: 'remote',
                source: {
                    read: {
                        url: '/admin/getAllProduct',
                        method: 'GET',
                        map: function (raw) {
                            dataSet = raw;
                            if (typeof raw.meta !== 'undefined') {
                                $('#total').html(raw.meta.total);
                            }
                            if (typeof raw.data !== 'undefined') {
                                dataSet = raw.data;
                            }
                            return dataSet;
                        },
                    },
                },
                pageSize: 10,
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true,
            },
            // layout definition
            layout: {
                scroll: true,
                height: 600,
                footer: true,
                icon: {
                    pagination: {
                        next: 'la la-angle-right',
                        prev: 'la la-angle-left',
                        first: 'la la-angle-double-left',
                        last: 'la la-angle-double-right',
                        more: 'la la-ellipsis-h'
                    }
                }
            },
            // column sorting
            sortable: true,
            pagination: true,
            search: {
                input: $('#search'),
            },
            // columns definition
            columns: [{
                field: 'ID',
                title: 'id',
                width: 20,
                type: 'number',
                selector: {
                    class: 'kt-checkbox--solid'
                },
                textAlign: 'center',
            }, {
                field: 'ImagePro',
                title: 'Image',
                template: function (data) {
                    //return '<img width=120 height=100 src="' + data["ImagePro"] + '"/>';
                    return '<img width=120 height=100 src="../../assets/images/Auctions.jpg" />';
                }
            }, {
                field: 'ProName',
                title: 'Product Name',
                textAlign: 'center',
            }, {
                field: 'Catname',
                title: 'Category',
                textAlign: 'center',
            }, {
                field: 'reservePrice',
                title: 'Reserve Price',
                textAlign: 'center',
            }, {
                field: 'sellNowPrice',
                title: 'Sell Price',
                textAlign: 'center',
            }, {
                field: 'username',
                title: 'Seller',
                textAlign: 'center',
            }, {
                field: 'pubDate',
                title: 'start Date',
                textAlign: 'center',
                template: function (data) {
                    return moment(data['pubDate']).format('YYYY-MM-DD');
                }
            }, {
                field: 'endDate',
                title: 'end Date',
                textAlign: 'center',
                template: function (data) {
                    return moment(data['endDate']).format('YYYY-MM-DD');
                }
            }]
        };

        datatable = $('.kt-datatable').KTDatatable(options);
        datatable.on('kt-datatable--on-reloaded', function () {
            setRowClickEvent();
        });

        datatable.reload();
    });

    function DelProduct() {
        let chkCheckeds = datatable.find('input[type=checkbox]:checked');

        if (chkCheckeds.length) {
            if (!confirm('B?n ch?c ch?n mu?n m?/khóa tài kho?n này?')) {
                return;
            }
        }

        var arr = '';
        chkCheckeds.each(function () {
            let id = $(this).val();
            arr = arr + id + '-';
        });

        if (arr != '') {
            $.ajax({
                type: 'POST',
                url: '/admin/delProduct',
                data:
                {
                    data: method(arr)
                },
                dataType: "json",
                success: function (result) {
                    console.log(result);
                    if (result == "successfull") {
                        datatable.reload();
                    }
                    else {
                        alert(result);
                    }
                },
                error: function (err) {

                }
            })
        }
    }

    function setRowClickEvent() {
        //datatable.on('click', 'td', function () {
        //    if ($(this).find('input[type=checkbox]').length ||
        //        $(this).find('.kt-datatable__toggle-detail').length) {
        //        return;
        //    }

        //    var id = $(this).parent().find('input[type=checkbox]').val();
        //    if (id) {
        //        session.setData('userId', id);
        //        location.href = "/Bus/SttBus?id=" + id;
        //    }
        //});
    }
</script>